body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ded8d8;
}
.box{
    display: inline-block;
    height: 80px;
    width: 80px;
}

#board{
    border : 3px solid #5c5a5a;
}

img{
    height: 80px;
    width: 80px;
}